body {
    background: linear-gradient(158deg, #ffe9eb 0%, #ffd2d6 43.38%, #e5a7ad 100%);
    margin: 0; /* Asegura que no haya márgenes en el body para ocupar toda la pantalla */
    padding: 0; /* Elimina cualquier relleno para ocupar toda la pantalla */
}